.header {
    position: fixed; /* Makes the header fixed to the top */
    top: 0;
    left: 0;
    width: 100%;
    /* Adjust width to account for the sidebar */
    height: 900px; /* Fixed height for the header */
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures the header stays on top of other elements */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 20%;
  }
  
  .search-bar input {
    border: 1px #f2e1f8 ;
    padding: 15px 15px;
    border-radius: 10px;
    margin-right: 10px;
    width: 80%;
    background-color:#f2e1f8;
    height: 20px ;
    
  }
  
  .search-bar button {
    background: rgb(76, 48, 118);
    color: white;
    border: 3px ;
    padding: 8px 12px;
    border-radius: 10px;
    width: 20%;
    height: 45px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    width: 30%;
  }
  
  .profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  

  
  @media only screen and (max-width: 768px) {
    .header {
        padding-left: 1%;
    }
    .search-bar{
      display: none;
    }
    .profile{
      width: 50%;
    }
  }  