
.register-doctor-page {
    display: flex;
    justify-content: flex-start;
  }
  
  .register-doctor-content {
    flex: 1;
    padding: 20px;
  }
  
  .title {
    align-self: center;
    font-size: 24px;
    color: #4a148c;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f3e5f5; /* Light purple */
  }
  
  .form select,
  .form button {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .form select {
    background-color: #cab3e8;
  }
  
  .add-degree,
  .image-upload {
    padding: 10px;
    background-color: #cab3e8;
    border: none;
    border-radius: 5px;
    color: #4a148c;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  .image-upload input {
    display: none; 
  }
  
  .submit-button {
    padding: 12px;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #6a1b9a;
  }
  
  .form input:focus,
  .form select:focus,
  .add-degree:focus,
  .submit-button:focus {
    outline: none;
    border-color: #4a148c;
  }